body {
 font-family: "Roboto", sans-serif;
 font-weight: 100;
 font-size: 14px;
 padding: 0;
 margin: 0;
 height: 1vh;
 background-color: #d4d4d4;
}

*,
*:hover,
*:active {
 box-sizing: border-box;
}

img {
 display: block;
 max-width: 100%;
}

p,
h1,
h2,
h3 {
 margin: 0;
 padding: 0;
}

.container {
 max-width: 1900px;
 margin: 0 auto;
 width: 100%;
}

/* HEADER */

.header {
 background-color: #9a9a9a;
 text-align: center;
 line-height: 1.5;
 padding-bottom: 15px;
}

.header h1 {
 font-size: 18px;
 font-weight: 300;
 padding-top: 15px;
}

.header p {
 font-size: 14px;
}

/* BUTTONS */

.buttons {
}

.spec_a {
 background-color: #28c82b;
 padding: 20px 60px;
 border: none;
 border-radius: 10px;
 font-size: 14px;
 margin: 0 30px 30px;
 padding: 30px;
 min-width: 240px;
 text-align: center;
 color: #000;
 text-decoration: none;
}

.buttons_spec {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 max-width: 1200px;
 margin: 0 auto;
 padding-top: 100px;
}

.buttons_pract {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 max-width: 1200px;
 margin: 0 auto;
 padding-top: 20px;
 background-size: 100%;
}

.pract_a {
 background-color: #28c82b;
 padding: 30px;
 height: 75px;
 border: none;
 border-radius: 10px;
 font-size: 14px;
 min-width: 240px;
 text-align: center;
 color: #000;
 text-decoration: none;
}

/* SPECIALNIST */

.specialnit {
 padding: 20px 0;
 font-family: "Roboto", sans-serif;
 font-size: 16px;
 font-weight: bold;
}

.glava {
 padding: 40px 0;
 font-family: "Roboto", sans-serif;
 font-size: 16px;
 font-weight: bold;
 text-align: center;
}
